<section class="frontpage">
    <div class="frontImages">
        {{#get "posts" limit="2" filter="tags:frontpage" order="published_at asc" }}
            {{#foreach posts }}
                {{#if feature_image}}
                    <img class="frontImage" src="{{img_url feature_image}}" />
                {{/if}}
            {{/foreach}}
        {{/get}}
    </div>
    <div class="centerClass">
        <a href="https://www.ticketmaster.no/event/614743" target="_blank">
            <img class="frontBuyButton" src="{{asset "images/BILLETTKNAPP.png"}}" />
        </a>
    </div>
</section>