<article class="newsItem">
    <div class="newsImage">
        <img class="newsCoverImage" src="{{img_url feature_image size="m"}}" />
    </div>
    <a href="{{url}}">
        <h2>{{title}}</h2>
    </a>
    <div class="ingress">{{excerpt}}</div>
</article>