{{!< default}}

<div class="container-fluid">

    {{#post}}

    <article class="{{post_class}}">
        <h1 id="paintBrushBg">{{title}}</h1>
        <div class="container">
            <div class="row topbottompadding">
                <div class="col-md-12">
                    {{content}}
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                <a class="btn-floating blue accent-1">
                    <i class="fas fa-map-marker-alt"></i>
                </a>
                <p class="text-center">Beitostølen Live AS</p>
                </div>
                <div class="col-md-3">
                <a class="btn-floating blue accent-1">
                    <i class="fas fa-map-marker-alt"></i>
                </a>
                <p class="text-center">c/o Valdres Økonomitjenester AS</p>
                <p class="text-center mb-md-0">Bygdinvegen 1725, 2943 ROGNE</p>
                </div>
                <div class="col-md-3">
                <a class="btn-floating blue accent-1">
                    <i class="fas fa-building"></i>
                </a>
                <p class="text-center">Org. nummer: 920 481 892</p>
                </div>
                <div class="col-md-3">
                <a class="btn-floating blue accent-1">
                    <i class="fas fa-envelope"></i>
                </a>
                <p class="text-center">post@beitostolenlive.no</p>
                </div>
            </div>
        </div>
    </article>

    {{/post}}

    {{#get "tags" filter="name:artister-*"}}
        {{tags}}
    {{/get}}

</div>