{{!< default}}

{{> header }}

<div class="mainContent">

    {{#post}}

    <article class="{{post_class}}">
        <div class="partnereContainer">
            {{content}}
        </div>
    </article>

    {{/post}}

</div>