{{!< default}}

<div class="container">
    {{#post}}

    <article class="{{post_class}}">
        <div class="partnereContainer">
            {{content}}
        </div>
    </article>

    {{/post}}
</div>