{{!< default}}

{{> header }}

<div class="mainContent">
    <section class="post">
        {{#tag}}
            {{#has slug="artister"}}
            {{else}}
                <section class="tag-list">
                    <header class="tag-tittel">
                        <h1>{{name}}</h1>
                    </header>
                    {{#if description}}
                        <section class="post-content">
                            {{description}}
                        </section>
                    {{/if}}
                </section>
                <hr />
            {{/has}}
        {{/tag}}
        <div class="centerWrapper">
            <div class="wrapper">
                {{#foreach posts}}
                    {{> "nyhet-card"}}
                {{/foreach}}
            </div>
        </div>
    </section>
</div>