@font-face {
  font-family: BLWebHeader;
  src: url("../fonts/Futura-Heavy.otf") format("opentype");
}

@font-face {
  font-family: BLWeb;
  src: url("../fonts/Bemio.otf") format("opentype");
}

@font-face {
  font-family: BLWebItalic;
  src: url("../fonts/BemioItalic.otf") format("opentype");
}

@font-face {
  font-family: Futura;
  src: url("../fonts/Futura.ttc") format("truetype"), url("../fonts/Futura.ttf") format("truetype");
}
