/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    p {
        color: #14182e; 
        font-family: 'Futura';
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 24px;
        text-align: left;
        text-justify: inter-word;
    }
    h1 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 48px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h2 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 38px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h3 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 28px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h4 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 18px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    h5 {
        font-family: 'Futura';
        color: #14182e;
        font-size: 18px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    .spacetopfront {
        margin-top: 2rem;
    }

    .bl-brand-info {
        display: inline-block;
        font-family: BLWeb;
        font-size: 0.8em;
        text-align: center;
        text-transform: uppercase;
    }
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    p {
        color: #14182e; 
        font-family: 'Futura';
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 24px;
        text-align: left;
        text-justify: inter-word;
    }
    h1 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 48px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h2 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 38px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h3 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 28px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h4 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 18px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    h5 {
        font-family: 'Futura';
        color: #14182e;
        font-size: 18px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    .spacetopfront {
        margin-top: 2rem;
    }

    .bl-brand-info {
        display: inline-block;
        font-family: BLWeb;
        font-size: 0.8em;
        text-align: center;
        text-transform: uppercase;
    }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    p {
        color: #14182e; 
        font-family: 'Futura';
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 24px;
        text-align: left;
        text-justify: inter-word;
    }
    h1 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 40px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h2 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 32px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h3 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 24px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h4 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 18px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    h5 {
        font-family: 'Futura';
        color: #14182e;
        font-size: 18px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    .spacetopfront {
        margin-top: 2rem;
    }

    .bl-brand-info {
        display: inline-block;
        font-family: BLWeb;
        font-size: 0.5em;
        text-align: center;
        text-transform: uppercase;
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    p {
        color: #14182e; 
        font-family: 'Futura';
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 24px;
        text-align: left;
        text-justify: inter-word;
    }
    h1 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 40px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h2 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 32px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h3 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 24px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h4 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 18px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    h5 {
        font-family: 'Futura';
        color: #14182e;
        font-size: 18px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    .spacetopfront {
        margin-top: 2rem;
    }

    .bl-brand-info {
        display: inline-block;
        font-family: BLWeb;
        font-size: 0.5em;
        text-align: center;
        text-transform: uppercase;
    }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    p {
        color: #14182e; 
        font-family: 'Futura';
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 24px;
        text-align: left;
        text-justify: inter-word;
    }
    h1 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 32px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h2 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 26px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h3 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 22px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h4 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 18px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    h5 {
        font-family: 'Futura';
        color: #14182e;
        font-size: 18px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    .spacetopfront {
        margin-top: 2rem;
    }

    .bl-brand-info {
        display: inline-block;
        font-family: BLWeb;
        font-size: 0.4em;
        text-align: center;
        text-transform: uppercase;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    p {
        color: #14182e; 
        font-family: 'Futura';
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 24px;
        text-align: left;
        text-justify: inter-word;
    }
    h1 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 32px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h2 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 26px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h3 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 22px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }
    h4 {
        font-family: 'BLWeb';
        color: #14182e;
        font-size: 18px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    h5 {
        font-family: 'Futura';
        color: #14182e;
        font-size: 18px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    .spacetopfront {
        margin-top: 2rem;
    }

    .bl-brand-info {
        display: inline-block;
        font-family: BLWeb;
        font-size: 0.4em;
        text-align: center;
        text-transform: uppercase;
    }
}